body {
    margin: auto;
    color: #111;
}

h1 {
}

h2 {
}

/*
 * Header style
 */

header {
    overflow: hidden;
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
}

header > h2 {
    font-weight: normal;
}

#profil-picture
{
    float: left;
    margin-right: 10px;
}

#infos
{
    float: right;
    font-size:1.5em;
    list-style-type: none;
}

#infos > li
{
    line-height: 36px;
    height: 36px;
    width:36px;
    text-align: center;
}

#infos > li > a
{
    color: #111;
    text-decoration: none;
}

#infos > li#github
{
    font-size:1.1em;
}

#infos > li#github:hover > a
{
    color: #4E4E4E;
}

#infos > li#twitter
{
    font-size:0.9em;
}

#infos > li#twitter:hover > a
{
    color: #00ABF0;
}

#infos > li#stackoverflow > div
{
    height:24px;
    width:24px;
    margin:auto;
}

#infos > li#stackoverflow:not(:hover) path, #infos > li#stackoverflow:not(:hover) rect
{
    fill: #111;
}
