---
title: Thomas Duplomb's resume
layout: regular
---
<h2>Experiences</h2>
{% assign experiences = site.experiences | sort: 'start-date' | reverse %}
{% for experience in experiences %}
<h3>{{ experience.company }}</h3>
<h4>{{ experience.title }} - {{ experience.start-date | date: "%m.%Y" }} / {% if experience.end-date %}{{ experience.end-date | date: "%m.%Y" }}{% else %}Today{% endif %}</h4>
<div>
  {{ experience.content }}
</div>
{% endfor %}
<h2>Education</h2>
{% assign education = site.education | sort: 'start-date' | reverse %}
{% for school in education %}
<h3>{{ school.name }}</h3>
<h4>{{ school.type }} - {{ school.start-date | date: "%Y" }} / {{ school.end-date | date: "%Y" }}</h4>
<div>
  {{ school.content }}
</div>
{% endfor %}
