<!DOCTYPE html>
<html>
    <head>
        <title>Curiculum Vitae</title>
        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <img src="img/profil.jpg" alt="Profil picture" id="profil-picture" class="img-circle" width="100" height="100"/>
            <h1>Thomas Duplomb</h1>
            <h2>Software engineering student, <strong>sir</strong> !</h2>
        </header>
        {{ content }}
    </body>
</html>
