<!DOCTYPE html>
<html>
    <head>
      <title>{{ page.title }}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="assets/css/font-awesome.min.css" rel="stylesheet">
      <link href="assets/css/style.css" rel="stylesheet">
      <script>console.log("Contact me at thomas at duplomb dot com :)")</script>
    </head>
    <body>
          <header class="container">
              {% include header.html %}
          </header>
        <div class="container">
            {{ content }}
        </div>
    </body>
</html>
